  .resize-drag {
    color: rgba(0,0,0,0);
    box-sizing: border-box;
  }

  .container {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
  }

  .left {
    width: 46%;
    float: left;
    box-sizing: content-box;
    border: 5px solid #6E6E6E;
    text-align: center;
    padding: 15px;
  }
  
  .right {
    width: 46%;
    float: right;
    box-sizing: content-box;
    border: 5px solid #6E6E6E;
    text-align: center;
    padding: 15px;
  }

  .bottom {
    float: center;
    box-sizing: content-box;
    border: 5px solid #6E6E6E;
    text-align: center;
    padding: 15px;
  }

  img {
    display: block;
  }

  #view {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .drawBlock {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .drawBlock p {
      position: absolute;
      margin: 0;
      align-self: flex-end;
      background-color: rgba(255, 111, 0, 0.25);
      color: #FFF;
      border: 1px dashed rgba(255, 255, 255, 0.7);
      z-index: 2;
      font-size: 12px;
      text-align: center;
  }

  .cropBox {
    position: absolute;
    box-sizing: border-box;
  }
  
  #screenCropBox {
    border: 3px solid rgb(0, 140, 255);
  }

  .drawing {
      background: rgba(0, 255, 0, 0.25);
      border: 1px dashed #fff;
      z-index: 1;
      position: absolute;
  }

  .labelDiv {
      z-index: 1;
      position: absolute;
      display: flex;
  }
  .bar {
    width:90%;
    height:30px;
    padding:15px;
    line-height: 100%;
    background-color:#dddddd;
    border-radius: 10px;
    box-sizing: content-box;
    margin: 10px auto;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-position: left center, right center;}

    table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
      }

    th, td {
    border: 1px solid #444444;
    }

    .save-button {
        float: right;
        text-align: center;
        width: 160px;
        height: 40px;
        font-weight: 400;
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 20px;
        display: block;
        margin: 10px
      }