

  .left {
    width: 46%;
    float: left;
    box-sizing: content-box;
    border: 5px solid #6E6E6E;
    text-align: center;
    padding: 15px;
  }
  
  .right {
    width: 46%;
    float: right;
    box-sizing: content-box;
    border: 5px solid #6E6E6E;
    text-align: center;
    padding: 15px;
  }

  .bar {
    width:90%;
    height:30px;
    padding:15px;
    line-height: 100%;
    background-color:#dddddd;
    border-radius: 10px;
    box-sizing: content-box;
    margin: 10px auto;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-position: left center, right center;}

    table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
      }

    th, td {
    border: 1px solid #444444;
    }

    .save-button {
        float: right;
        text-align: center;
        width: 160px;
        height: 40px;
        font-weight: 400;
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 20px;
        display: block;
        margin: 10px
      }