<!DOCTYPE html>
<html>
  <link href="{{ url_for('static', filename='detect.css') }}" rel="stylesheet">
  <head>
    <title>detect and log page</title>
    <!-- Import TensorFlow.js library -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js" type="text/javascript"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>

    <script src="/static/script/predict.js" type="module"></script>
  </head>

  <body>
    <a id="target" style="display: none"></a> <!--이미지 저장하기 위해 canvas 그리는 용도. 화면에 표기 안 됨-->
    <div class="container">
      <div class="subcontainer top">
        <div class='left'>
            <div class='bar'>{{ region_and_name }}  실시간 cctv 영상</div>
            <div id="view" class="drawBlock">
              <video id="inputVideo" controls width="640" height="360" autoplay muted crossorigin="anonymous">
                <source src="{{ video_src }}">
              </video>
              <!-- <script>
                const thisisvideo = document.getElementById('inputVideo');
                thisisvideo.setAttribute('data-setup', '{}');
                thisisvideo.setAttribute('class', 'video-js');

                setInterval(reload, 1000)
                function reload() {
                  const parent = document.getElementById('view');
                  parent.removeChild(thisisvideo);
                  parent.appendChild(thisisvideo);
                  location.reload();
                  console.log('what?')
                }
              </script> -->
            </div>
        </div>

        <div class='right'>

          <div class='bar'>로그</div>
          
          <table>
            <tr style='text-align: center;'>
              <td>ID</td>
              <td>날짜</td>
              <td>시간</td>
              <td>위반사항</td>
              <td>좌표</td>
            <tr>
            <tr style='text-align: center;'>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
            </tr>
          </table>

          <button class="save-button" type="button"> 영상 저장 </button>
          <button class="save-button" type="button"> 이미지 저장 </button>

        </div>
      </div>
      <div class="subcontainer bottom">
        <div class='bar'>실시간 탐지 상황</div>
        <div id="test" class="drawBlock"></div>
      </div>
    </div>

  </body>

</html>