<!DOCTYPE html>
<html>
  <link href="{{ url_for('static', filename='detect.css') }}" rel="stylesheet">
  <head>
    <title>detect and log page</title>
    <!-- Import TensorFlow.js library -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js" type="text/javascript"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/script/crop.js" type="module"></script>

    <script>const cctvId = '{{ cctv_id }}';</script>
    <script>const cctvName = '{{ cctv_name }}';</script>
    <script>const region_and_name = '{{ cctv_name }}';</script>
    <script>const centerName = '{{ center_name }}';</script>
    <script src="/static/script/predict.js" type="module"></script>
  </head>

  <body>
    <a id="target" style="display: none"></a> <!--이미지 저장하기 위해 canvas 그리는 용도. 화면에 표기 안 됨-->
    <div class="container">
      <div class="subcontainer top">
        <div class='left'>
            <div class='bar'>{{ cctv_name }} - {{ center_name }}  실시간 CCTV 영상</div>
            <div id="view" class="drawBlock">
              <!-- <img id="inputImage" width="640px" src="/static\images\C000002_003_0009_C_D_F_0.jpg"> -->
              <video id="inputVideo" controls width="640px" autoplay muted crossorigin="anonymous">
                <source src="{{ video_src }}">
              </video>
              <div class="cropBox resize-drag" id="screenCropBox" style="left: 0px; top: 0px; width: 640px; height: 360px;"></div>
            </div>
            <script>
              const isM3u8 = '{{ video_src }}'.endsWith('m3u8');
              console.log('{{video_src}}')
              console.log(isM3u8)
              function setM3u8Attributes(){
                const tagToRefresh = document.getElementById('inputVideo');
                const source = tagToRefresh.getElementsByTagName('source');
                // source.setAttribute('src', 'fffff')
                tagToRefresh.setAttribute('data-setup', '{}');
                tagToRefresh.setAttribute('class', 'video-js');
              }

              if (isM3u8) {
                setM3u8Attributes();
              }
              else {
                setInterval(reloadMp4, 31000) // mp4 31초마다 다시 재생
              }

              function reloadMp4() {
                console.log('비디오 reload')
                const parent = document.getElementById('view');
                const tagToRefresh = document.getElementById('inputVideo');
                const source = document.createElement('source');
                const video = document.querySelector('video')
                video.pause();
                video.load();
                video.play();
              }
            </script>
        </div>

        <div class='right'>

          <div class='bar'>로그</div>
          
          <table>
            <tr style='text-align: center;'>
              <td>ID</td>
              <td>날짜</td>
              <td>시간</td>
              <td>위반사항</td>
              <td>좌표</td>
            <tr>
            <tr style='text-align: center;'>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
            </tr>
          </table>

          <button class="save-button" type="button"> 영상 저장 </button>
          <button class="save-button" type="button"> 이미지 저장 </button>

        </div>
      </div>
      <div class="subcontainer bottom">
        <div class='bar'>실시간 탐지 상황</div>
        <div id="outputImage" class="drawBlock"></div>
      </div>
    </div>

  </body>

</html>