<!DOCTYPE html>
<html>
<head>
    <title>CCTV 영상</title>
</head>
<body>
    <div id="cctvContainer"></div>

    <script>
        // URL
        const api_url = 'http://www.utic.go.kr/view/map/cctvStream.jsp?cctvid=L902704&cctvname=%25EC%2584%259C%25EC%259A%25B8%2520%25EC%2584%259C%25EC%25B4%2588%2520%25EC%2584%259C%25EC%25B4%2588%25EB%258C%2580%25EB%25A1%259C&kind=EE&cctvip=9990&cctvch=null&id=null&cctvpasswd=null&cctvport=null&minX=127.00182995981353&minY=37.48782667683961&maxX=127.06121163497251&maxY=37.51313060242616'
        // `http://www.utic.go.kr/view/map/cctvStream.jsp?cctvid=L010326&cctvname=%25ED%2595%259C%25EC%2596%2591%25EB%258C%2580&kind=Seoul&cctvip=null&cctvch=52&id=180&cctvpasswd=null&cctvport=null&minX=127.01967013959295&minY=37.545434417247826&maxX=127.0518149423723&maxY=37.57074466573169`;

        // CCTV 영상 추가
        const cctvContainer = document.getElementById("cctvContainer");
        const iframe = document.createElement("iframe");
        iframe.src = api_url;
        iframe.width = "1000";
        iframe.height = "1000";
        iframe.setAttribute("allowfullscreen", "");
        cctvContainer.appendChild(iframe);
    </script>
</body>
</html>


<!-- // const API_KEY = "XxTwsc3p80QmOWMFWzJ3Y6W4zJmhHXjxKGxpDAeQS9fxU8tEPej1yQhboGwXhk&cctvid=L280042&cctvName=%25EC%2598%25A5%25ED%258F%25AC%25EB%258F%2599%2520%25EC%2598%25A5%25ED%258F%25AC%25EC%2582%25BC%25EA%25B1%25B0%25EB%25A6%25AC&kind=t&cctvip=null&cctvch=9&id=637bef0325205&cctvpasswd=null&cctvport=null";

// CCTV 영상 URL 가져오기
// const api_url = `https://www.utic.go.kr/view/map/openDataCctvStream.jsp?key=${API_KEY}`; -->
