<!DOCTYPE html>
<html>
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  <head>
    <title>Main page</title>
  </head>

  <body>

    
    <div class="container" style="display: flex; align-items: center;">
      <div class='bar1'>
        교통 위반 탐지 서비스
      </div>
      <div class="subcontainer">
        <div class="left" id="left">
          <div class="menu" id="select" onclick="window.location.href = '/select';">탐지</div>
        </div>
        <div class="right" id="right">
          <div class="menu" id="report" onclick="window.location.href = 'https://lookerstudio.google.com/embed/reporting/f3f11e8e-9a96-4ce1-82ac-c851cade855a/page/fQYbD';">보고서</div>
        </div>
      </div>
    </div>

  </body>

</html>