<!DOCTYPE html>
<html>
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  <head>
    <title>Main page</title>
  </head>

  <body>

    <div class='bar1'>
      교통 위반 탐지 서비스
    </div>

    <!-- <form> --> <!-- 사용자가 구간 입력 -->
    <div class='bar2'>
      
        <div style="display: flex; align-items: center;">
            <input type="text" class='input-box-main' name="search" value='구간 검색'>
        </div>

    </div>
    <!-- </form> -->
    
    <div class='map' id="map" style="width:1500px;height:1000px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b1a6a35057639effceea599b9e6493cd"></script>
    <script>
      var container = document.getElementById('map');
      var options = {
        center: new kakao.maps.LatLng(37.5642135, 127.0016985),
        level: 10
      };
  
      var map = new kakao.maps.Map(container, options);
    </script>
        
    
      </div>

  </body>

</html>